@charset "UTF-8";

#sec01>div {
	border:1px solid;
	width: 200px;
}
#sec02>div{
	border:1px solid;
	width: 300px;
}

#sec01{
	height: 400px;
	position: relative;
}

.tr01{transform:translateX(120px);}
.tr02{transform:translateY(200px);}
.tr03{transform:translateX(-100px);}
.tr04{transform:translateY(-100px);}
.tr05{transform:translate(300px,-300px);}
.tr06{transform:translate(100%,100%);}

.cnt{
	background-color: #ccc;
	width:30%;
	height: 150px;
	position:absolute;
	left: 50%;
	top:50%;
	transform:translate(-50%,-50%);
	text-align: center;
	line-height: 150px;
}