@charset "UTF-8";

ol {border:1px solid rgba(0,0,255,0.7);
padding:1em 2em;
background:linear-gradient(90deg,rgba(0,0,255,0),rgba(0,0,255,1));}

section>p {border:1px solid;
width: 500px; height: 200px;
padding: 1em;
box-sizing: border-box;  }


 /* 1. Linear Gradient */
.lgr01 {background:linear-gradient(red,yellow); }
 
.lgr02 {background: 
linear-gradient(pink,olive,violet,navy);}

.lgr03 {background: 
linear-gradient(120deg,olive,pink,navy);}

.lgr03:hover {background: 
linear-gradient(20deg,olive,pink,navy);}

.lgr04 {background: 
linear-gradient(120deg,olive 20%,pink 80%,navy);}



 /* 2. Radial Gradient */
.rgr01 {background:radial-gradient(red,yellow);}

.rgr02 {background: 
radial-gradient(circle,pink,olive);}

.rgr03 {background: 
radial-gradient(circle,pink 39%,olive 40%);}


 /* 3. Conic Gradient */
.cgr01 {background: conic-gradient(olive,pink);}

.cgr02 {background: 
conic-gradient(olive 30deg,pink 50deg);}
























