@charset "UTF-8";

h1 {background-color: #acf;
border-left: 12px solid #8ad;
padding: 0.3em 0.5em;
color: #036; }

section{border: 4px dashed #888;
	margin:4em 1em;
	padding: 1em; }
	
section>h2 {
	border-bottom: 2px solid #888;
	color : #036;
	background-color: #cdf;
}