@charset "UTF-8";

/* 1. text - align : ; 글자 수평 정렬 */
.ta01, .ta02, .ta03 {
/* 	A, B, C, ...는 동시에 여러 요소를 불러오는 그룹선택자
(선택자의 종류는 서로 달라도 됨)*/
border: 1px solid;

}


.ta01{text-align: left;}
.ta02{text-align: center;}
.ta03{text-align: right;}
/* lipsum.com */
.ta04{text-align: justify;}